<!doctype html>
<html>
    <head>
        <title>MR hell - Remember this so you can find it in history search</title>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <script src="./script.js"></script>
    </head>
    <body>
        <a href="https://github.com/devdave/wfmastery">
            <img
                style="position: absolute; top: 0; right: 0; border: 0;"
                src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                alt="Fork me on GitHub"
                data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
        </a>
        <h1>Warframe Mastery Rank hell checklist</h1>
        <br>
        <p>
            This is a work in progress, its "works", and I don't care how ugly it is.
        </p>

        <ul class="menu">
            {menu_names}
        </ul>
        <p>MR hell checklist</p>
        {body}

        <h1>Grocery list</h1>
        <ul id="groceries">
            {grocery_body}
        </ul>
    </body>
    <script>
        var wfmastery = {{}};
        wfmastery.positions = {pos_data};
        wfmastery.json_id2pos = {json_id2pos};
    </script>
</html>
