<style>

    * {
        z-index: 1;
    }

    body {
        margin: 0px;
    }

    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        padding-top: 9.8em;

    }



    .header {
        position: fixed;
        top: 3em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1.4em;
        /*border-bottom: solid black thin;*/
        z-index: 10;
    }
    .subheader {
        position: fixed;
        top: 5em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1.4em;
        border-bottom: solid black thin;
        z-index: 10;
    }

    .banner {
        position: fixed;
        top: -1em;
        width: 100%;
        height: 1em;
        text-align: center;
        padding: 1em;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 5;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }



    .row:nth-child(even):not(.hide) {
        background-color: lightgray;
    }

    .hide {
        display: none !important;
    }

    .cell {
        flex-grow: 1;
        text-align: left;
        flex-flow: row nowrap;
        flex-basis: 0;
        padding: 0.5em;
        word-break: break-word;
    }

    .killbox {
        color: red;
        border: solid black thin;
        border-radius: 15px;
        padding: 1px;
        font-size: 1rem;
    }



    .small {
        width: 2em;
        flex-grow: .3;
    }


    .smartbox {
        position: fixed;

        background-color: white;
        border: outset gray medium;
        padding: 2px;
        z-index: 11;

    }

    .smartbox h1 {
        margin: 0 auto;
        text-align: center;

    }

    .smartbox button {
        float: right;
    }

    .smartbox input {
        margin: 0px 10px 2px 10px;
        padding: 5px;
    }

    .smartbox ul {
        list-style: none;
        margin: 0px 10px 2px 10px;
        padding: 5px;
    }

    .smartbox li {
        padding: 4px 10px;
        text-align: center;
        cursor: pointer;
        outline: none;
        box-shadow: 0 9px #e1e4ea;
        border: outset medium gray;
        border-radius: 15px;
        margin-bottom: 9px;

    }
    .smartbox li:hover {
        background-color: #c6c9ce
    }

    .smartbox  li.active {
        background-color: darkgreen;
        color:white;
        box-shadow: 0 3px black;
        /*transform: translateY(2px);*/
    }

    .smartbox li:active {
        background-color: darkgreen;
        box-shadow: 0 3px black;
        transform: translateY(2px);
    }

    .smartbox .hide {
        animation-duration: 5s;
        animation: fadeout;
    }

    @keyframes fadeout {
        from {
            color: rgba(0,0,0,1);
        }

        to {
            color: rgba(256,256,256,0);
            display: none;
        }
    }







</style>

<h1 class="banner">Equipment</h1>
<div class="list">
    <div class="header">
        <span class="cell">Record ID</span>
        <span class="cell">Hidden</span>
        <span class="cell magic-string">Name</span>
        <span class="cell magic-string">Pretty name</span>
        <span class="cell magic-filter">Category</span>
        <span class="cell magic-filter">Subcategory</span>
        <span class="cell">Actions</span>
    </div>
    <div class="subheader">
        <span class="cell"></span>
        <span class="cell"></span>
        <span class="cell magic-string"></span>
        <span class="cell magic-string"></span>
        <span class="cell magic-filter"></span>
        <span class="cell magic-filter"></span>
        <span class="cell"></span>
    </div>
{%  for record in records %}
    <div class="row" data-record-id="{{record.id}}">
        <span class="cell">{{record.id}}</span>
        <span class="cell">{{record.hidden}}</span>
        <span class="cell">{{record.name}}</span>
        <span class="cell">{{record.pretty_name}}</span>
        <span class="cell">{{record.category.name}}</span>
        <span class="cell">{{record.subcategory.name}}</span>
        <span class="cell">
            <a href="{{origin.base_url}}{{record.id}}">Edit</a>
        </span>
    </div>
{%  endfor %}
    <div class="tail">
        <span class="cell"></span>
        <span class="cell"></span>
        <span class="cell"></span>
        <span class="cell"></span>
        <span class="cell"></span>
        <span class="cell"></span>
        <span class="cell"></span>
    </div>
</div>




<script>

    class BaseColumnFilter {
        constructor(parent, position, clss){
            this.list = parent;
            this.column = {
                position: position,
                header: null,
                name: null
            };
            this.strs = {
                filtered: "data-filtered"
            }

            this.cls = clss;

            let q_str = `.${this.cls.header_row} .${this.cls.cell}:nth-child(${this.column.position})`;
            this.column.header = this.list.querySelector(q_str);
            this.column.name = this.column.header.innerHTML;

            this.reset_event = new CustomEvent("reset", {"detail": this.column.name});

            this.setup();

            this.list.addEventListener("reset", e=>{this.on_reset(e.detail)});
            this.column.header.addEventListener("click", e=>{this.show() });
        }

        setup () {
            throw "Not implemented";
        }

        show () {
            throw "Not implemented";
        }

        get_rows(only_active=true){
            let q_str = `.${this.cls.row}` + (only_active? ":not(.hide)" : "");
            return this.list.querySelectorAll(q_str);
        }

        get_cells(only_active=true) {

            let q_str = `.${this.cls.row}` + (only_active? ":not(.hide)" : "");
            q_str += ` .cell:nth-child(${this.column.position})`;
            return this.list.querySelectorAll(q_str);
        }

        is_parent(children, node) {

            let flag = false;
            while(node != null){
                flag = children.some(e=>{
                    return e === node;
                });
                if(flag === true){
                    return true;
                }
                node = node.parentElement;
            }
            return false;
        }

        is_blurred(e) {
            let is_hidden = this.box.el.classList.contains("hide") == false
                , is_block = this.box.el.style.display !== "none"
                , node = e.target;

            if( is_hidden === true || is_block === true){
                return this.is_parent([this.box.el, this.column.header], node) !== true;
            }

            return true;
        }

        all_clear(p) {
            return Array.from(p.querySelectorAll(".cell")).every(c=>c.getAttribute(this.strs.filtered) !== "true")
        }


    }

    class FilterColumn extends BaseColumnFilter {

        setup() {
            this.box = {};
            this.active_filter = null;

            this.names = new Set();


            this.get_cells(false).forEach(cell=>this.names.add(cell.innerHTML));


            this.box.el = document.createElement("div");
            this.box.el.classList.add("smartbox");
            this.box.el.setAttribute("tabindex", "-1");
            this.box.el.style.display = "none";

            this.box.el.style.top = this.column.header.offsetTop;
            this.box.el.style.left = this.column.header.offsetLeft;

            this.box.cancel = document.createElement("button");
            this.box.cancel.innerHTML = "X";
            this.box.el.appendChild(this.box.cancel);

            this.box.header = document.createElement("h1");
            this.box.header.innerHTML = this.column.name;
            this.box.header.style.fontSize = this.column.header.style.fontSize;
            this.box.el.appendChild(this.box.header);

            this.box.options = document.createElement("ul");
            this.box.el.appendChild(this.box.options);

            document.body.appendChild(this.box.el);

            this.box.cancel.addEventListener("click", e=>{ this.hide(); });
            this.box.el.addEventListener("blur", e=>{ this.hide(); });
            this.box.el.addEventListener("focusout", e=>{ this.hide() });

        }

        hide() {
            //this.box.options.innerHTML = "";
            this.box.el.classList.add("hide");
            //this.box.el.style.display = "none";
        }

        show() {

            var evt_options = {once: true},
                hide_box = e=>{
                    console.log("Hide me!");
                    this.hide();
                };

            this.box.options.innerHTML = ""

            for(let name of this.names) {
                let element = document.createElement("li");
                element.innerHTML = name;
                element.classList.toggle("active", name == this.active_filter);
                element.addEventListener("click", e=>{ this.on_select(name); }, evt_options);
                this.box.options.appendChild(element);
            }

            this.box.el.style.display = "block";
            this.box.el.classList.remove("hide");


            let proxy = e=>{
                if(this.is_blurred(e) === true){
                    document.removeEventListener("click", proxy);
                }
            }

            document.addEventListener("click", proxy);


        }

        on_select (value) {

            //let all_clear = p=> {
            //    return Array.from(p.querySelectorAll(".cell")).every(c=>c.getAttribute("data-filtered") !== "true")
            //};

            let flip = null;

            this.hide();
            this.active_filter = (this.active_filter === value)
                                ? ""
                                : value;


            if(this.active_filter !== ""){
                flip = c=>{
                    let should_hide = c.innerHTML != this.active_filter
                    c.setAttribute(this.strs.filtered, should_hide.toString() );
                    should_hide = (this.all_clear(c.parentElement) == false);
                    console.log(should_hide, c.parentElement, c);
                    c.parentElement.classList.toggle("hide", should_hide);
                }
            } else {
                flip = c=>{
                    c.setAttribute(this.strs.filtered, false.toString())
                    let should_hide = (this.all_clear(c.parentElement) == false);
                    c.parentElement.classList.toggle("hide", should_hide);
                }
            }

            this.get_cells(false).forEach(flip);

        }



    }

    class StringColumn extends BaseColumnFilter {


        setup(){
            this.last_value = "";

            this.box = {};

            function new_el(name, f){
                var el = document.createElement(name);
                f(el);
                return el;
            }

            this.box.cancel = new_el("button", el=>{
                el.innerHTML = "X";

            });

            this.box.header = new_el("h1", el=>{
                el.innerHTML = this.column.name;
                el.style.fontSize = this.column.header.style.fontSize;
                el.style.display = "none";
            });

            this.box.input = new_el("input", el=>{
                el.type = "search";
                el.size = "20";
                el.setAttribute("tabindex", "-2");
                el.name = this.column.name + "_" + "box";
            });

            this.box.el = new_el("div", el=>{
                el.classList.add("smartbox");

                el.style.display = "none";
                el.style.position = "fixed";
                el.style.top = this.column.header.offsetTop + (this.column.header.parentElement.offsetTop/2);
                el.style.left = this.column.header.offsetLeft;

                el.appendChild(this.box.cancel);
                el.appendChild(this.box.header);
                el.appendChild(this.box.input);
            });

            document.body.appendChild(this.box.el);


            this.box.input.addEventListener("input", e=>{ this.on_key(e); });
        }


        show(e) {
            this.box.el.style.display="block";
            this.box.input.focus();

            this.box.input.addEventListener("blur", e=> this.hide());
            this.box.input.addEventListener("focusout", e=>this.hide());

        }

        hide(e) {
            console.log("err?", this);
            this.box.el.style.display="none";

        }

        on_key(e) {

            let value = e.target.value.trim();
            let visitor = v=>{true};
            let flag = false;

            if(value === this.last_value){
                return;
            }

            this.last_value = value;

            let toggle_row = (c, should_hide)=>{
                c.setAttribute(this.strs.filtered, should_hide.toString());
                c.parentElement.classList.toggle("hide", this.all_clear(c.parentElement) == false );


            }

            //Is it a regex?
            if(value.startsWith("/") && value.indexOf("/") != value.lastIndexOf("/")) {
                console.log("is regex");

                let body = value.slice(1, value.lastIndexOf("/"));

                let regex_flag = value.endsWith("/") ? "" : value.slice(value.lastIndexOf("/")+1);

                console.log(body, regex_flag);
                let rx = new RegExp(body, regex_flag);
                visitor = c=>{
                    toggle_row(c, c.innerHTML.match(rx) === null)
                }
            }
            else if(value === "") {
                console.log("clear column filter");
                visitor = c=>{
                    toggle_row(c, false)
                }
            }
            else {
                console.log("brute force")
                visitor = c=>{
                    toggle_row(c, c.innerHTML.includes(value) !== true);
                }
            }

            this.get_cells(false).forEach(visitor);





        }



    }



    var list_classes = {row:"row", cell:"cell", header_row:"header"};
    var list_element = document.getElementsByClassName("list")[0];

    function ApplyMagic(classes, list){
        //Find the headers
        let magic_map = {}
        let headers = list.querySelectorAll(`.${classes.header_row} .${classes.cell}`)
        let subheaders = list.querySelectorAll(`.subheader .${classes.cell}`)

        for(var i = 0; i < headers.length; i++){
            let contains = str=>headers[i].classList.contains(str);

            let name = headers[i].innerHTML;

            if(contains("magic-string")) {
                magic_map[name] = new StringColumn(
                    list, i+1, list_classes
                )
            }
            else if(contains("magic-filter")) {
                magic_map[name] = new FilterColumn(
                    list, i+1, list_classes
                )
            }


            let blank_fill = Array(name.length+1).fill("&nbsp;").join("");
            //for(let si = 0; si < name.length; si++){
            //    blank_fill += "&nbsp;"
            //}

            subheaders[i].innerHTML = blank_fill;




        }

        return magic_map;
    }

    var magic_map = ApplyMagic(list_classes, list_element);

    //var category = new FilterColumn(
    //        list_element,
    //        5,
    //        list_classes);
    //
    //var name_regex = new StringColumn(
    //        list_element,
    //        3,
    //        list_classes
    //)
    //category.show_smart_box();
</script>
