<!doctype html>
<html>
    <head>
        <title>MR hell</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <a href="https://github.com/devdave/wfmastery">
            <img
                style="position: absolute; top: 0; right: 0; border: 0;"
                src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                alt="Fork me on GitHub"
                data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
        </a>

        <h1>Warframe Mastery Rank hell checklist</h1>
        <br><br>
        <br>

        <div class="menu_box">
{%-          for category in manifest %}
                <span class="menu-option"
                    id="menuitem_{{category.id}}"
                    data-active="{{category.is_first()}}"
                    data-dest="category_{{category.id}}"
                >{{category.pretty_name}}</span>

{%-          endfor %}
        </div>



        <span id="content_body">
{%-          for category in manifest %}
            <fieldset
                class="menu_tab"
                id="category_{{category.id}}"
                data-active="{{category.is_first()}}">

                <span class="type_box">
{%-              for record in category.children %}
                    <label class="individual"
                        id="{{record.id}}"
                        data-position="{{record.display_pos}}"
                        data-id="{{record.data_id}}"
                        title={{record.subcategory.name}}
                        data-state="False">{{record.name}}</label>
{%-              endfor %}
                </span>
            </fieldset>
{%-          endfor -%}
        </span>

        <div style="width:90%; margin: 0 auto;">
            <span
                style="color:white; background-color:red"
            >Default - I don't have it</span>
            <span
                style="color:black; background-color:yellow"
                title="It's the small things in life"
            >Hold down - I have it but its not leveled</span>
            <span
                style="color:white; background-color:green"
            >Click - I have it and it is leveled</span>
            <br>
            <span>Prime Finder Beta features</span>
            <span
                style="color:white; background-color:blue"
            >I have all the pieces but haven't built it</span>
            <span
                style="color: black; background-color: orange"
            >I have some pieces</span>
        </div>

        <span id="grocery_body">
            <h1>Prime Finder (IN PROGRESS)</h1>

{%-          for category in manifest -%}
            <div class="grocery_block"
            data-cat="category_{{category.id}}"
            data-active="{{category.is_first()}}">

{%-              for item in category.children -%}
{%-                  if item.special.name == "Prime" -%}
                <fieldset class="grocery_item"
                    data-id="grocery_{{item.id}}"
                    data-state="False"
                    data-cat="{{category.id}}">

                        <legend>
                            <a
                                href="http://warframe.wikia.com/wiki/{{item.name}}"
                                target="_blank">{{item.name}}</a>
                        </legend>
                    <div class="components_body">
{%-                  for component in item.components -%}
                        <span class="component_block">
                            <div class="component_name">{{component.name}}</div>
                            <ul>
{%-                      for location in component.locations -%}
                                <div>
                                    <li>
                                        {{location.tier.name}},
                                        {{location.relic.name}},
                                        {{location.rarity.name}}
                                    </li>
                                </div>
{%-                      endfor -%}
                            </ul>
                        </span>
{%-                  endfor -%}
                    </div>
                </fieldset>
{%-              endif -%}
{%-              endfor -%}
            </div>
{%-          endfor -%}<legend>

        </span>

    </body>
    <script>
        /** todo relocate this to a data.js file*/
        var wfmastery = {};
        wfmastery.total_size = {{total_size}};
        wfmastery.positions = {{pos2id|tojson}};
        wfmastery.json_id2pos = {{id2pos|tojson}};
    </script>
    <script src="static/script.js"></script>
</html>
