
<script>
    function protect_data(what){
        return confirm(`Are sure you want to delete ${what}`);
    }

    function flip_panels() {
        var
            current_name,
            button = this.currentTarget,
            target_name = button.getAttribute("data-parent") + "_body",
            panels = document.getElementsByClassName("panel");


        for(let panel of panels) {
            current_name = panel.getAttribute("data-parent");
            if(current_name !== target_name) {
                panel.setAttribute("data-active", "False");
            } else if(current_name === active_panel) {
                panel.setAttribute("data-active", "True");
            } else {
                console.log(this, button, active_panel, panels, current_name === active_panel);
            }
        }
    }

    function manifest_main(){
        var els = document.getElementsByClassName("flip");
        for(let element of els) {
            element.addEventListener("click", flip_panels);
        }
    }

    document.addEventListener("DOMContentLoaded", manifest_main, false);



</script>

<div class="options">
    <button class="flip" data-parent="list_body">List</button>
    <button class="flip" data-parent="create_body">Create</button>
</div>

<fieldset class="list_body panel" data-active="True">
    <legend>Manifest</legend>
    <span class="manifest_block"</span>
    {% for record in manifest %}
        <div class="manifest_record">
            <a href="./{{record_id}}">{{record.id}} - {{record.hint}}</a>
            <span>-</span>
            <form class="fetch" method="get" action="./{{record.id}}">
                <button>Edit</button>
            </form>
            <span>-</span>
            <form class="murder" method="delete" action="./{{record.id}}" onsubmit="protect_data(`${record.id} - ${record.digest}`);">
                <button>Delete</button>
            </form>
            <br>
        </div>
    {% endfor %}
</fieldset>

<fieldset class="create_body panel" data-active="False">
    {{ form_body }}
</fieldset>
