

/*
######################################
#########Shit show 1##################
######################################
*/

.menu_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    text-align: center;
    margin: 0 auto;

    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.menu-option {
    border: solid black thin;
    font-size: 2.5em;
    padding: .2em 1em;
    flex-grow: 1;

}

.menu-option {
    background-color: gray;
    color: black;
}

.menu-option[data-active="True"] {
    background-color: green;

}



.menu_tab {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

.menu_tab[data-active="True"] {
    display: flex;
    justify-content: center;
}


/*label.subgroup {*/
/*    font-size: 1.5em;*/
/*}*/

.individual {
    font-size: 1.2em;
    flex-grow: 1;
}


/*
######################################
#########Shit show 2##################
######################################
*/

.menu_tab {
    border-radius: 0 0 15px 15px;
    /*border-radius: 15px;*/
}

.type_box {
    display: flex;
    flex-flow: row wrap;
}

/*.subgroup_box {*/
/*    border: inset thin black;*/
/*    border-radius: 12px;*/
/*    padding: 2px;*/
/*}*/

/*.subgroup {*/
/*    background-color: lightgray;*/
/*    display: flex;*/
/**/
/*}*/

/*.sgroup_box {*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    max-width: 14em;*/
/**/
/*}*/

.individual {
    display: table-cell;
    border: thin outset black;
    border-radius: 15px;
    padding: 4px 3px 0 3px;
    height: 45px;
    width: 6em;
    text-align: center;
    cursor: pointer;

    background-color: red;
    color: white;


}

.individual[data-state="True"] {
    background-color: green;
    color: white;
}
.individual[data-state="Partial"] {
    background-color: yellow;
    color: black;
}


/*.individual_input {*/
/*    display: none;*/
/*}*/

/*
######################################
###########Groceries##################
######################################
*/



.grocery_block {
    display: flex;
    flex-wrap: wrap;
    width: 90%;

}

.grocery_block[data-active="False"] {
    display: none;
}

.grocery_item {
    /*display: inline-block;*/
    /*display: flex;*/
    border: thin black solid;
    padding: .5em;
    width: 100%;
    font-size: 1.5em;
    flex-grow: 1;
}

.components_body {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    /*border: solid thin black;*/
}

.component_block {
    margin: 0 10px 0 10px;
    /*border: solid thin black;*/
}

.component_block ul,li {
    margin: 0;
    padding 5px;
}

.component_block .component_name {
    width: 100%;
    border-bottom: solid thick black;
}

.grocery_item[data-state="True"] {
    display: none;
}
